<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="logout.html">


<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="dashboard.html">
<link rel="lazy-import" href="datos.html">
<link rel="lazy-import" href="productos.html">

<link rel="lazy-import" href="my-cuenta.html">
<link rel="lazy-import" href="my-tarjeta.html">
<link rel="lazy-import" href="my-prestamo.html">
<link rel="lazy-import" href="my-afiliate.html">
<link rel="lazy-import" href="my-sesion.html">
<link rel="lazy-import" href="my-view404.html">

<dom-module id="app-shell">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }

      app-header .greeting,
      app-header a {
        color: #fff;
        font-size: 13px;
      }

      app-header .greeting {
        border-right: 1px solid rgba(255, 255, 255, .5);
        display: inline-block;
        padding-right: 6px;
      }

      #contenedor {
        display: table;
        border: 2px solid #000;
        width: 333px;
        text-align: center;
        margin: 0 auto;
      }
      #contenidos {
        display: table-row;
      }
      #columna1, #columna2, #columna3 {
        display: table-cell;
        border: 1px solid #000;
        vertical-align: middle;
        padding: 10px;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}" url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route route="{{route}}" pattern="[[rootPath]]:page" data="{{routeData}}" tail="{{subroute}}">
    </app-route>

    <!--Si no se desea visualizar el menú vertical:-->
    <!--<app-drawer-layout fullbleed force-narrow narrow="{{narrow}}">-->
    <!--Si se desea visualizar el menú vertical:-->
    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Productos</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="cuenta" href="[[rootPath]]cuenta">Cuentas</a>
          <a name="tarjeta" href="[[rootPath]]tarjeta">Tarjetas</a>
          <a name="prestamo" href="[[rootPath]]prestamo">Préstamos</a>
          <a name="afiliate" href="[[rootPath]]afiliate">Afíliate</a>
          <a name="sesion" href="[[rootPath]]sesion">Inicie Sesión</a>
          <!--Si se realiza un log in satisfactorio, se procede con habilitar los siguientes puntos de menú:-->
          <div name="productos" hidden$="[[!storedUser.loggedin]]">
            <a href="[[rootPath]]productos">Mis Productos</a>
          </div>
          <div name="datos" hidden$="[[!storedUser.loggedin]]">
            <a href="[[rootPath]]datos">Mis Datos</a>
          </div>
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>Detalle de Productos</div>
            <!--<a name="register-login" href="[[rootPath]]register-login" hidden$="[[storedUser.loggedin]]">Log in</a>-->
            <!--<a name="view5" href="[[rootPath]]view5" hidden$="[[storedUser.loggedin]]">Inicie Sesión</a>-->
            <!--Si realizó correctamente el logueo se habilita el saludo...-->
            <div hidden$="[[!storedUser.loggedin]]">
              <span class="greeting">Hola [[storedUser.name]]!</span>
              <log-out stored-user="{{storedUser}}" link></log-out>
              <span class="greeting">Hola [[storedUser.compra]]!</span>
              <span class="greeting">Hola [[storedUser.venta]]!</span>
            </div>
            <!--Aquí viene la 2da. fila donde mostraremos la información de la api de SUNAT-->
            <!--
            <div id="contenedor">
              <div id="contenidos">
                  <div id="columna1">
                    <span class="greeting">Hola [[storedUser.name]]!</span>
                  </div>
                  <div id="columna2">
                    <span class="greeting">Hola [[storedUser.name]]!</span>
                  </div>
              </div>
            </div>
            -->
          </app-toolbar>
        </app-header>

        <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="view404" role="main">
          <dashboard-tab name="dashboard"></dashboard-tab>
          <datos-tab name="datos"></datos-tab>
          <my-cuenta name="cuenta"></my-cuenta>
          <my-tarjeta name="tarjeta"></my-tarjeta>
          <my-prestamo name="prestamo"></my-prestamo>
          <my-afiliate name="afiliate"></my-afiliate>
          <my-sesion name="sesion"></my-sesion>
          <my-productos name="productos"></my-productos>
          <my-view404 name="view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>

  </template>

  <script>
    class AppShell extends Polymer.Element {
      static get is() { return 'app-shell'; }

      ready() {
        super.ready();

      }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: String,
          storedUser: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'dashboard' in that case.
        this.page = page || 'dashboard';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
          resolvedPageUrl,
          null,
          this._showPage404.bind(this),
          true);
      }

      _showPage404() {
        this.page = 'view404';
      }
    }

    window.customElements.define(AppShell.is, AppShell);
  </script>
</dom-module>
