<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-sesion">
  <template>
    <style include="shared-styles">
      .wrapper-btns {
        margin-top: 15px;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>
    <custom-style>
      <style>
        paper-button.custom {
          --paper-button-ink-color: var(--paper-pink-a200);
          /* These could also be individually defined for each of the
            specific css classes, but we'll just do it once as an example */
          --paper-button-flat-keyboard-focus: {
            background-color: var(--paper-pink-a200) !important;
            color: white !important;
          };
          --paper-button-raised-keyboard-focus: {
            background-color: var(--paper-pink-a200) !important;
            color: white !important;
          };
        }
        paper-button.custom:hover {
          background-color: var(--paper-indigo-100);
        }
        paper-button.pink {
          color: var(--paper-pink-a200);

        }
        paper-button.indigo {
          background-color: var(--paper-indigo-500);
          color: white;
          --paper-button-raised-keyboard-focus: {
            background-color: var(--paper-pink-a200) !important;
            color: white !important;
          };
        }
        paper-button.green {
          background-color: var(--paper-green-500);
          color: white;
        }
        paper-button.green[active] {
          background-color: var(--paper-red-500);
        }
        paper-button.disabled {
          color: white;
          background-color: bisque;
        }
        paper-input.no-underline{
          --paper-input-container-underline: {
            display: none;
          };
          --paper-input-container-underline-focus: {
            display: none;
          };
          --paper-input-container-underline-disabled: {
            display: none;
          }
        }
        paper-input.no-underline{
          --paper-input-container-underline: {
            display: none;
          };
          --paper-input-container-underline-focus: {
            display: none;
          };
          --paper-input-container-underline-disabled: {
            display: none;
          }
        }
      </style>
    </custom-style>    

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <app-location route="{{route}}"></app-location>
    
    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h1>Inicie Sesión</h1>
        <template is="dom-if" if="[[error]]">
          <p class="alert-error">
            <strong>Error:</strong> [[error]]</p>
        </template>
        <paper-input-container>
          <label slot="input">Usuario</label>
          <iron-input slot="input" bind-value="{{formData.username}}">
            <paper-input class="no-underline" id="username" type="text" value="{{formData.username}}">
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Contraseña</label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <paper-input class="no-underline" id="password" type="password" value="{{formData.password}}">
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="custom indigo" class="primary" on-tap="postLogin">Iniciar Sesión</paper-button>
        </div>
      </div>

      <iron-ajax id="validateLoginAjax" method="post" content-type="application/json" handle-as="text" on-response="handleUserResponse"
        on-error="handleUserError">
      </iron-ajax>
  </template>

  <script>
    class ValidateLogin extends Polymer.Element {
      static get is() { return 'my-sesion'; }
      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          error: String,
          storedUser: Object
        }
      }

      _setReqBody() {
        this.$.validateLoginAjax.body = this.formData;
      }

      postLogin() {
        this.$.validateLoginAjax.url = 'users/authenticate';
        this._setReqBody();
        this.$.validateLoginAjax.generateRequest();
      }

      handleUserResponse(e) {
        const res = JSON.parse(e.detail.response);
        if (res.token) {
          this.error = '';
          this.storedUser = {
            username: res.user.username,
            name: res.user.name,
            email: res.user.email,
            token: res.token,
            loggedin: true
          };
          this.set('route.path', '/productos');
        }

        // reset form data
        this.formData = {};
      }

      handleUserError(e) {
        this.error = JSON.parse(e.detail.request.response).error;
      }

    }

    window.customElements.define(ValidateLogin.is, ValidateLogin);
  </script>
</dom-module>